services:
  model-service:
        build:
            context: webservice
            dockerfile: Dockerfile
        ports:
            - 8080:8080
        #volumes:
        #  - ${PWD}/sa_key:/app/sa_key
        volumes:
            - ./sa_key.json:/app/sa_key.json:ro
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            - GOOGLE_APPLICATION_CREDENTIALS=/app/sa_key.json
        env_file:
           - webservice/.env
        networks:
           - model-services
        environment:
            - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
            - RUN_ID=${RUN_ID}

        


networks:
    model-services:
        driver: bridge